/*ver-*/
[class^="icon-glyph-"], [class*=" icon-glyph-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  background-image: url("../images/complex/glyph/glyphicons-halflings.png");
  background-repeat: no-repeat; 
}

/* White icons with optional class, or on hover/active states of certain elements */

/*
a:hover > [class^="icon-glyph-"], a:hover > [class*=" icon-glyph-"]
{
  background-image: url("../images/complex/glyph/glyphicons-halflings-white.png");
}*/
.icon-glyph-skin-red { background-image: url("../images/complex/glyph/glyphicons-halflings-red.png"); }
.icon-glyph-skin-blue { background-image: url("../images/complex/glyph/glyphicons-halflings-blue.png"); }
.icon-glyph-skin-dark-gray { background-image: url("../images/complex/glyph/glyphicons-halflings-dark-gray.png"); }
.icon-glyph-skin-dark-green { background-image: url("../images/complex/glyph/glyphicons-halflings-dark-green.png"); }
.icon-glyph-skin-green { background-image: url("../images/complex/glyph/glyphicons-halflings-green.png"); }
.icon-glyph-skin-light-gray { background-image: url("../images/complex/glyph/glyphicons-halflings-light-gray.png"); }
.icon-glyph-skin-orange-red { background-image: url("../images/complex/glyph/glyphicons-halflings-orange-red.png"); }
.icon-glyph-skin-pale-pink { background-image: url("../images/complex/glyph/glyphicons-halflings-pale-pink.png"); }
.icon-glyph-skin-pink { background-image: url("../images/complex/glyph/glyphicons-halflings-pink.png"); }
.icon-glyph-skin-yellow { background-image: url("../images/complex/glyph/glyphicons-halflings-yellow.png"); }


.icon-glyph-up { background: url("images/qietu.png") -72px -74px; display:inline-block; width:16px; height:16px;}
.icon-glyph-radio { background: url("images/qietu.png") -37px -38px; display:inline-block; width:16px; height:16px;}
.icon-glyph-radio2 { background: url("images/qietu.png") -2px -38px; display:inline-block; width:16px; height:16px;}
.icon-glyph-boxF { background: url("images/qietu.png") -18px -0px; display:inline-block; width:18px; height:18px;}
.icon-glyph-boxT { background: url("images/qietu.png") -0px -0px; display:inline-block; width:18px; height:18px;}
.icon-glyph-off1 { background: url("images/qietu.png") -55px -74px; display:inline-block; width:16px; height:16px;}
.icon-glyph-set { background: url("images/qietu.png") -37px -74px; display:inline-block; width:16px; height:16px;}
.icon-glyph-admin { background: url("images/qietu.png") -19px -74px; display:inline-block; width:16px; height:16px;}
.icon-glyph-info { background: url("images/qietu.png") -0px  -74px; display:inline-block; width:16px; height:16px;}
.icon-glyph-shop { background: url("images/qietu.png") -0px  -120px; display:inline-block; width:20px; height:20px;}
.icon-glyph-buy { background: url("images/qietu.png") -24px  -120px; display:inline-block; width:22px; height:23px;}
.icon-glyph-tb{ background: url("images/qietu.png") -46px  -120px; display:inline-block; width:22px; height:23px;}


.icon-glyph-glass { background-position: 0 0;}
.icon-glyph-music { background-position: -24px 0;}
.icon-glyph-search { background-position: -48px 0;}
.icon-glyph-envelope { background-position: -72px 0;}
.icon-glyph-heart { background-position: -96px 0;}
.icon-glyph-star { background-position: -120px 0;}
.icon-glyph-star-empty { background-position: -144px 0;}
.icon-glyph-user { background-position: -168px 0;}
.icon-glyph-film { background-position: -192px 0;}
.icon-glyph-th-large { background-position: -216px 0;}
.icon-glyph-th { background-position: -240px 0;}
.icon-glyph-th-list { background-position: -264px 0;}
.icon-glyph-ok { background-position: -288px 0;}
.icon-glyph-remove { background-position: -312px 0;}
.icon-glyph-zoom-in { background-position: -336px 0;}
.icon-glyph-zoom-out { background-position: -360px 0;}
.icon-glyph-off { background-position: -384px 0;}
.icon-glyph-signal { background-position: -408px 0;}
.icon-glyph-cog { background-position: -432px 0;}
.icon-glyph-trash { background-position: -456px 0;}

.icon-glyph-home { background-position: 0 -24px;}
.icon-glyph-file { background-position: -24px -24px;}
.icon-glyph-time { background-position: -48px -24px;}
.icon-glyph-road { background-position: -72px -24px;}
.icon-glyph-download-alt { background-position: -96px -24px;}
.icon-glyph-download { background-position: -120px -24px;}
.icon-glyph-upload { background-position: -144px -24px;}
.icon-glyph-inbox { background-position: -168px -24px;}
.icon-glyph-play-circle { background-position: -192px -24px;}
.icon-glyph-repeat { background-position: -216px -24px;}
.icon-glyph-refresh { background-position: -240px -24px;}
.icon-glyph-list-alt { background-position: -264px -24px;}
.icon-glyph-lock { background-position: -287px -24px;}
.icon-glyph-flag { background-position: -312px -24px;}
.icon-glyph-headphones { background-position: -336px -24px;}
.icon-glyph-volume-off { background-position: -360px -24px;}
.icon-glyph-volume-down { background-position: -384px -24px;}
.icon-glyph-volume-up { background-position: -408px -24px;}
.icon-glyph-qrcode { background-position: -432px -24px;}
.icon-glyph-barcode { background-position: -456px -24px;}  

.icon-glyph-tag { background-position: 0 -48px;}
.icon-glyph-tags { background-position: -25px -48px;}
.icon-glyph-book { background-position: -48px -48px;}
.icon-glyph-bookmark { background-position: -72px -48px;}
.icon-glyph-print { background-position: -96px -48px;}
.icon-glyph-camera { background-position: -120px -48px;}
.icon-glyph-font { background-position: -144px -48px;}
.icon-glyph-bold { background-position: -167px -48px;}
.icon-glyph-italic { background-position: -192px -48px;}
.icon-glyph-text-height { background-position: -216px -48px;}
.icon-glyph-text-width { background-position: -240px -48px;}
.icon-glyph-align-left { background-position: -264px -48px;}
.icon-glyph-align-center { background-position: -288px -48px;}
.icon-glyph-align-right { background-position: -312px -48px;}
.icon-glyph-align-justify { background-position: -336px -48px;}
.icon-glyph-list { background-position: -360px -48px;}
.icon-glyph-indent-left { background-position: -384px -48px;}
.icon-glyph-indent-right { background-position: -408px -48px;}
.icon-glyph-facetime-video { background-position: -432px -48px;}
.icon-glyph-picture { background-position: -456px -48px;}

.icon-glyph-pencil { background-position: 0 -72px;}
.icon-glyph-map-marker { background-position: -24px -72px;}
.icon-glyph-adjust { background-position: -48px -72px;}
.icon-glyph-tint { background-position: -72px -72px;}
.icon-glyph-edit { background-position: -96px -72px;}
.icon-glyph-share { background-position: -120px -72px;}
.icon-glyph-check { background-position: -144px -72px;}
.icon-glyph-move { background-position: -168px -72px;}
.icon-glyph-step-backward { background-position: -192px -72px;}
.icon-glyph-fast-backward { background-position: -216px -72px;}
.icon-glyph-backward { background-position: -240px -72px;}
.icon-glyph-play { background-position: -264px -72px;}
.icon-glyph-pause { background-position: -288px -72px;}
.icon-glyph-stop { background-position: -312px -72px;}
.icon-glyph-forward { background-position: -336px -72px;}
.icon-glyph-fast-forward { background-position: -360px -72px;}
.icon-glyph-step-forward { background-position: -384px -72px;}
.icon-glyph-eject { background-position: -408px -72px;}
.icon-glyph-chevron-left { background-position: -432px -72px;}
.icon-glyph-chevron-right { background-position: -456px -72px;}

.icon-glyph-plus-sign { background-position: 0 -96px;}
.icon-glyph-minus-sign { background-position: -24px -96px;}
.icon-glyph-remove-sign { background-position: -48px -96px;}
.icon-glyph-ok-sign { background-position: -72px -96px;}
.icon-glyph-question-sign { background-position: -96px -96px;}
.icon-glyph-info-sign {background-position: -120px -96px;}
.icon-glyph-screenshot { background-position: -144px -96px; }
.icon-glyph-remove-circle { background-position: -168px -96px; }
.icon-glyph-ok-circle { background-position: -192px -96px; }
.icon-glyph-ban-circle { background-position: -216px -96px; }
.icon-glyph-arrow-left { background-position: -240px -96px; }
.icon-glyph-arrow-right { background-position: -264px -96px; }
.icon-glyph-arrow-up { background-position: -289px -96px; }
.icon-glyph-arrow-down { background-position: -312px -96px; }
.icon-glyph-share-alt { background-position: -336px -96px; }
.icon-glyph-resize-full { background-position: -360px -96px; }
.icon-glyph-resize-small { background-position: -384px -96px; }
.icon-glyph-plus { background-position: -408px -96px; }
.icon-glyph-minus { background-position: -433px -96px; }
.icon-glyph-asterisk { background-position: -456px -96px; }
.icon-glyph-exclamation-sign { background-position: 0 -120px; }
.icon-glyph-gift { background-position: -24px -120px; }
.icon-glyph-leaf { background-position: -48px -120px; }
.icon-glyph-fire { background-position: -72px -120px; }
.icon-glyph-eye-open { background-position: -96px -120px;}
.icon-glyph-eye-close { background-position: -120px -120px;}
.icon-glyph-warning-sign { background-position: -144px -120px; }
.icon-glyph-plane { background-position: -168px -120px; }
.icon-glyph-calendar { background-position: -192px -120px; }
.icon-glyph-random { width: 16px; background-position: -216px -120px; }
.icon-glyph-comment { background-position: -240px -120px; }
.icon-glyph-magnet { background-position: -264px -120px; }
.icon-glyph-chevron-up { background-position: -288px -120px; }
.icon-glyph-chevron-down { background-position: -313px -119px; }
.icon-glyph-retweet { background-position: -336px -120px; }
.icon-glyph-shopping-cart { background-position: -360px -120px; }
.icon-glyph-folder-close { background-position: -384px -120px; }
.icon-glyph-folder-open { width: 16px; background-position: -408px -120px; }
.icon-glyph-resize-vertical { background-position: -432px -119px; }
.icon-glyph-resize-horizontal { background-position: -456px -118px; }
.icon-glyph-hdd { background-position: 0 -144px; }
.icon-glyph-bullhorn { background-position: -24px -144px; }
.icon-glyph-bell { background-position: -48px -144px; }
.icon-glyph-certificate { background-position: -72px -144px; }
.icon-glyph-thumbs-up { background-position: -96px -144px; }
.icon-glyph-thumbs-down { background-position: -120px -144px; }
.icon-glyph-hand-right { background-position: -144px -144px; }
.icon-glyph-hand-left { background-position: -168px -144px; }
.icon-glyph-hand-up { background-position: -192px -144px; }
.icon-glyph-hand-down { background-position: -216px -144px; }
.icon-glyph-circle-arrow-right { background-position: -240px -144px; }
.icon-glyph-circle-arrow-left { background-position: -264px -144px; }
.icon-glyph-circle-arrow-up { background-position: -288px -144px; }
.icon-glyph-circle-arrow-down { background-position: -312px -144px; }
.icon-glyph-globe { background-position: -336px -144px; }
.icon-glyph-wrench { background-position: -360px -144px; }
.icon-glyph-tasks { background-position: -384px -144px; }
.icon-glyph-filter { background-position: -408px -144px; }
.icon-glyph-briefcase { background-position: -432px -144px; }
.icon-glyph-fullscreen { background-position: -456px -144px; }
.icon-glyph-1 { background-position: -120px 0;}
.icon-glyph-0 { background-position: -144px 0;}


[class^="icon-vector-"], [class*=" icon-vector-"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: text-top;
  background-image: url("../images/complex/vector/vectoricons-free.png");
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */
/*
a:hover > [class^="icon-vector-"], a:hover > [class*=" icon-vector-"]
{
  background-image: url("../images/complex/vector/vectoricons-free-white.png");
}*/

.icon-vector-bold-arrow{background-position: -30px -15px; }
.icon-vector-moving{background-position: -63px -15px; }
.icon-vector-eye{background-position: -96px -15px; }
.icon-vector-search{background-position: -127px -15px; }
.icon-vector-zoom-out{background-position: -159px -15px; }
.icon-vector-zoom-in{background-position: -191px -15px; }
.icon-vector-attachment{background-position: -223px -15px; }
.icon-vector-edit{background-position: -254px -15px; }
.icon-vector-touch{background-position: -285px -15px; }
.icon-vector-trash{background-position: -319px -15px; }
.icon-vector-lock{background-position: -353px -15px; }
.icon-vector-palm{background-position: -383px -15px; }
.icon-vector-unlock{background-position: -415px -15px; }
.icon-vector-forbid{background-position: -447px -15px; }
.icon-vector-bookmark{background-position: -479px -15px; }
.icon-vector-circle-stat{background-position: -31px -47px; }
.icon-vector-circle-stat-empty{background-position: -63px -47px; }
.icon-vector-praise{background-position: -93px -47px; }
.icon-vector-despise{background-position: -126px -47px; }
.icon-vector-hair{background-position: -157px -47px; }
.icon-vector-heart{background-position: -190px -47px; }
.icon-vector-flag{background-position: -223px -47px; }
.icon-vector-crown{background-position: -255px -47px; }
.icon-vector-stat{background-position: -287px -47px; }
.icon-vector-counter{background-position: -319px -47px; }
.icon-vector-twitter-logo{background-position: -351px -47px; }
.icon-vector-twitter{background-position: -385px -47px; }
.icon-vector-facebook{background-position: -415px -47px; }
.icon-vector-linkedin{background-position: -447px -47px; }
.icon-vector-basketball{background-position: -479px -47px; }
.icon-vector-p{background-position: -31px -79px; }
.icon-vector-box-open{background-position: -63px -79px; }
.icon-vector-skype{background-position: -95px -79px; }
.icon-vector-brush{background-position: -127px -79px; }
.icon-vector-feather{background-position: -159px -79px; }
.icon-vector-clamp{background-position: -190px -79px; }
.icon-vector-focus-square-empty{background-position: -223px -79px; }
.icon-vector-focus-square{background-position: -255px -79px; }
.icon-vector-white-mask{background-position: -286px -79px; }
.icon-vector-black-mask{background-position: -318px -79px; }
.icon-vector-mutil-window{background-position: -351px -79px; }
.icon-vector-steer-wheel{background-position: -383px -79px; }
.icon-vector-connect{background-position: -415px -79px; }
.icon-vector-call{background-position: -447px -79px; }
.icon-vector-plane{background-position: -479px -79px; }
.icon-vector-a{background-position: -31px -111px; }
.icon-vector-facetime-video{background-position: -63px -109px; }
.icon-vector-horn{background-position: -95px -111px; }
.icon-vector-board{background-position: -127px -111px; }
.icon-vector-radar{background-position: -159px -111px; }
.icon-vector-signal{background-position: -191px -111px; }
.icon-vector-mobile-phone{background-position: -225px -111px; }
.icon-vector-message{background-position: -255px -109px; }
.icon-vector-alert-msg{background-position: -287px -111px; }
.icon-vector-chats{background-position: -319px -111px; }
.icon-vector-smile{background-position: -351px -111px; }
.icon-vector-sad{background-position: -383px -111px; }
.icon-vector-brow{background-position: -415px -111px; }
.icon-vector-laugh{background-position: -447px -111px; }
.icon-vector-make-faces{background-position: -478px -111px; }
.icon-vector-surprise{background-position: -31px -143px; }
.icon-vector-man{background-position: -63px -143px; }
.icon-vector-man-full{background-position: -100px -143px; }
.icon-vector-professionals{background-position: -131px -143px; }
.icon-vector-info-card{background-position: -159px -145px; }
.icon-vector-manager{background-position: -191px -143px; }
.icon-vector-woman{background-position: -224px -143px; }
.icon-vector-male{background-position: -252px -143px; }
.icon-vector-female{background-position: -288px -143px; }
.icon-vector-shopping-cart{background-position: -319px -143px; }
.icon-vector-lockers{background-position: -352px -143px; }
.icon-vector-parking{background-position: -383px -143px; }
.icon-vector-cashier{background-position: -415px -143px; }
.icon-vector-buy{background-position: -447px -140px; }
.icon-vector-sell{background-position: -479px -140px; }
.icon-vector-new{background-position: -31px -172px; }
.icon-vector-freezer{background-position: -63px -177px; }
.icon-vector-truck{background-position: -95px -176px; }
.icon-vector-price-movements{background-position: -127px -176px; }
.icon-vector-building{background-position: -159px -175px; }
.icon-vector-house{background-position: -191px -176px; }
.icon-vector-tree-one{background-position: -222px -175px; }
.icon-vector-tree-two{background-position: -255px -175px; }
.icon-vector-tree-three{background-position: -287px -175px; }
.icon-vector-map-follower{background-position: -323px -175px; }
.icon-vector-map-marker{background-position: -354px -175px; }
.icon-vector-poster{background-position: -382px -175px; }
.icon-vector-html5{background-position: -415px -175px; }
.icon-vector-css3{background-position: -447px -175px; }
.icon-vector-placard{background-position: -479px -175px; }
.icon-vector-save{background-position: -31px -207px; }
.icon-vector-file{background-position: -63px -207px; }
.icon-vector-file-download{background-position: -95px -207px; }
.icon-vector-file-upload{background-position: -127px -207px; }
.icon-vector-barrel{background-position: -159px -207px; }
.icon-vector-camera{background-position: -190px -205px; }
.icon-vector-movie-play{background-position: -223px -207px; }
.icon-vector-movie-screen{background-position: -255px -207px; }
.icon-vector-music{background-position: -287px -208px; }
.icon-vector-tv{background-position: -319px -206px; }
.icon-vector-shooter{background-position: -351px -209px; }
.icon-vector-monitor{background-position: -383px -206px; }
.icon-vector-mp3{background-position: -412px -207px; }
.icon-vector-cd{background-position: -446px -207px; }
.icon-vector-cd-player{background-position: -479px -208px; }
.icon-vector-step-backward{background-position: -35px -242px; }
.icon-vector-backward{background-position: -66px -242px; }
.icon-vector-pause{background-position: -98px -242px; }
.icon-vector-play{background-position: -130px -242px; }
.icon-vector-forward{background-position: -163px -242px; }
.icon-vector-step-forward{background-position: -195px -242px; }
.icon-vector-power-empty{background-position: -223px -242px; }
.icon-vector-power-half{background-position: -255px -242px; }
.icon-vector-power-full{background-position: -287px -242px; }
.icon-vector-power-charging{background-position: -319px -242px; }
.icon-vector-cupboard{background-position: -351px -239px; }
.icon-vector-notepad{background-position: -383px -239px; }
.icon-vector-notepad-two{background-position: -414px -239px; }
.icon-vector-book-opening{background-position: -447px -240px; }
.icon-vector-relationships{background-position: -479px -239px; }
.icon-vector-th{background-position: -31px -271px; }
.icon-vector-th-large{background-position: -63px -271px; }
.icon-vector-align-justify{background-position: -95px -271px; }
.icon-vector-th-list{background-position: -127px -271px; }
.icon-vector-gift{background-position: -158px -271px; }
.icon-vector-pencil{background-position: -191px -271px; }
.icon-vector-fire{background-position: -223px -271px; }
.icon-vector-bell{background-position: -255px -271px; }
.icon-vector-clothes-stand{background-position: -287px -270px; }
.icon-vector-tea{background-position: -319px -271px; }
.icon-vector-hot-water-tank{background-position: -351px -271px; }
.icon-vector-download{background-position: -383px -271px; }
.icon-vector-upload{background-position: -415px -271px; }
.icon-vector-cloud-download{background-position: -447px -270px; }
.icon-vector-cloud-upload{background-position: -479px -270px; }
.icon-vector-reload{background-position: -31px -304px; }
.icon-vector-txt-empty{background-position: -61px -303px; }
.icon-vector-txt-bookmark{background-position: -95px -303px; }
.icon-vector-txt-lock{background-position: -126px -303px; }
.icon-vector-txt-mark{background-position: -160px -303px; }
.icon-vector-txt-full{background-position: -190px -303px; }
.icon-vector-txt-dynamic{background-position: -222px -303px; }
.icon-vector-txt-table{background-position: -254px -303px; }
.icon-vector-txt-image{background-position: -286px -303px; }
.icon-vector-txt-video{background-position: -318px -303px; }
.icon-vector-txt-label{background-position: -350px -303px; }
.icon-vector-txt-signal{background-position: -382px -303px; }
.icon-vector-txt-music{background-position: -414px -303px; }
.icon-vector-redo{background-position: -447px -303px; }
.icon-vector-undo{background-position: -479px -303px; }
.icon-vector-folder{background-position: -31px -337px; }
.icon-vector-off{background-position: -63px -335px; }
.icon-vector-ok{background-position: -94px -334px; }
.icon-vector-ok-circle{background-position: -127px -335px; }
.icon-vector-ok-board{background-position: -160px -335px; }
.icon-vector-hand-up{background-position: -194px -335px; }
.icon-vector-close{background-position: -224px -336px; }
.icon-vector-setting{background-position: -254px -336px; }
.icon-vector-filter{background-position: -285px -335px; }
.icon-vector-calendar{background-position: -316px -335px; }
.icon-vector-arrow-left{background-position: -351px -335px; }
.icon-vector-arrow-right{background-position: -383px -335px; }
.icon-vector-arrow-top{background-position: -419px -335px; }
.icon-vector-arrow-buttom{background-position: -451px -335px; }
.icon-vector-baggage{background-position: -479px -333px; }
.icon-vector-applet{background-position: -32px -367px; }
.icon-vector-old-house{background-position: -64px -367px; }
.icon-vector-hotel{background-position: -95px -367px; }
.icon-vector-toolbox{background-position: -127px -368px; }
.icon-vector-toolbox-medicine{background-position: -159px -368px; }
.icon-vector-music-speaker{background-position: -190px -367px; }
.icon-vector-taichi{background-position: -223px -367px; }
.icon-vector-awl{background-position: -255px -367px; }
.icon-vector-nurse{background-position: -287px -367px; }
.icon-vector-patient{background-position: -319px -367px; }
.icon-vector-sun{background-position: -351px -367px; }
.icon-vector-sun-cloud{background-position: -383px -367px; }
.icon-vector-mutil-cloud{background-position: -415px -367px; }
.icon-vector-cloud{background-position: -447px -364px; }
.icon-vector-rain{background-position: -479px -367px; }
.icon-vector-thunder{background-position: -32px -399px; }
.icon-vector-snow{background-position: -61px -399px; }
.icon-vector-heavy-rain{background-position: -94px -399px; }
.icon-vector-thermometer{background-position: -126px -399px; }
.icon-vector-umbrella{background-position: -159px -399px; }
.icon-vector-taxi{background-position: -191px -401px; }
.icon-vector-bus{background-position: -223px -399px; }
.icon-vector-train{background-position: -255px -399px; }
.icon-vector-helicopter{background-position: -287px -399px; }
.icon-vector-steamship{background-position: -319px -399px; }
.icon-vector-truck-large{background-position: -351px -399px; }
.icon-vector-bicycle{background-position: -383px -401px; }
.icon-vector-run{background-position: -415px -399px; }
.icon-vector-electric-cat{background-position: -447px -400px; }
.icon-vector-airplane{background-position: -479px -399px; }
.icon-vector-rocket{background-position: -31px -432px; }
.icon-vector-bold-left-circle{background-position: -64px -431px; }
.icon-vector-bold-right-circle{background-position: -96px -431px; }
.icon-vector-bottom{background-position: -127px -432px; }
.icon-vector-top{background-position: -159px -432px; }
.icon-vector-left{background-position: -191px -432px; }
.icon-vector-right{background-position: -223px -432px; }
.icon-vector-bottom-circle{background-position: -254px -431px; }
.icon-vector-top-circle{background-position: -286px -431px; }
.icon-vector-left-circle{background-position: -318px -431px; }
.icon-vector-right-circle{background-position: -350px -431px; }
.icon-vector-left-square{background-position: -382px -432px; }
.icon-vector-right-square{background-position: -413px -432px; }
.icon-vector-top-square{background-position: -445px -432px; }
.icon-vector-bottom-square{background-position: -478px -432px; }



[class^="icon-compact-"], [class*=" icon-compact-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/complex/compact/compacticons.png");
  background-repeat: no-repeat;
}


/*
a:hover > [class^="icon-compact-"], a:hover > [class*=" icon-compact-"]
{
  background-image: url("../images/complex/compact/compacticons-white.png");
}*/

.icon-compact-line-t{background-position: 0px -1px;}
.icon-compact-line-tr{background-position: -16px -1px;}
.icon-compact-line-r{background-position: -34px -1px;}
.icon-compact-line-rb{background-position: -48px -1px;}
.icon-compact-line-b{background-position: -66px -1px;}
.icon-compact-line-bl{background-position: -82px -1px;}
.icon-compact-line-l{background-position: -98px -1px;}
.icon-compact-line-lt{background-position: -114px -1px;}
.icon-compact-line-tb{background-position: -129px -1px;}
.icon-compact-line-lr{background-position: -145px -1px;}

.icon-compact-bold-t{background-position: 0px -17px;}
.icon-compact-bold-tr{background-position: -16px -17px;}
.icon-compact-bold-r{background-position: -34px -17px;}
.icon-compact-bold-rb{background-position: -48px -17px;}
.icon-compact-bold-b{background-position: -66px -17px;}
.icon-compact-bold-bl{background-position: -82px -17px;}
.icon-compact-bold-l{background-position: -98px -17px;}
.icon-compact-bold-lt{background-position: -114px -17px;}
.icon-compact-bold-tb{background-position: -129px -17px;}
.icon-compact-bold-lr{background-position: -145px -17px;}

.icon-compact-dashed-t{background-position: 0px -34px; }
.icon-compact-dashed-tr{background-position: -17px -34px;}
.icon-compact-dashed-r{background-position: -33px -34px;}
.icon-compact-dashed-rb{background-position: -48px -34px;}
.icon-compact-dashed-b{background-position: -66px -34px;}
.icon-compact-dashed-bl{background-position: -82px -34px;}
.icon-compact-dashed-l{background-position: -98px -34px;}
.icon-compact-dashed-lt{background-position: -114px -34px;}
.icon-compact-dashed-tb{background-position: -130px -33px;}
.icon-compact-dashed-ltrb{background-position: -145px -33px;}
.icon-compact-dashed-lr{background-position: -161px -33px;}
.icon-compact-dashed-trlb{background-position: -177px -33px;}
.icon-compact-dashed-ts{background-position: -194px -33px;}
.icon-compact-dashed-rs{background-position: -209px -33px;}
.icon-compact-dashed-bs{background-position: -226px -33px;}
.icon-compact-dashed-ls{background-position: -242px -33px;}

.icon-compact-solid-t{background-position: 0px -49px; }
.icon-compact-solid-tr{background-position: -18px -49px;}
.icon-compact-solid-r{background-position: -33px -50px;}
.icon-compact-solid-rb{background-position: -48px -49px;}
.icon-compact-solid-b{background-position: -66px -49px;}
.icon-compact-solid-bl{background-position: -82px -49px;}
.icon-compact-solid-l{background-position: -97px -50px;}
.icon-compact-solid-lt{background-position: -114px -49px;}
.icon-compact-solid-tb{background-position: -129px -50px;}
.icon-compact-solid-ltrb{background-position: -145px -49px;}
.icon-compact-solid-lr{background-position: -161px -49px;}
.icon-compact-solid-trlb{background-position: -177px -49px;}
.icon-compact-solid-ts{background-position: -194px -49px;}
.icon-compact-solid-rs{background-position: -209px -49px;}
.icon-compact-solid-bs{background-position: -226px -49px;}
.icon-compact-solid-ls{background-position: -242px -49px;}

.icon-compact-solid-dir-bl{background-position: 0px -65px;}
.icon-compact-solid-dir-lt{background-position: -16px -65px;}
.icon-compact-solid-dir-tr{background-position: -34px -65px;}
.icon-compact-solid-dir-rb{background-position: -48px -65px;}
.icon-compact-dashed-dir-bl{background-position: -66px -65px;}
.icon-compact-dashed-dir-lt{background-position: -82px -65px;}
.icon-compact-dashed-dir-tr{background-position: -98px -65px;}
.icon-compact-dashed-dir-rb{background-position: -114px -65px;}
.icon-compact-dashed-self-l{background-position: -129px -65px;}
.icon-compact-dashed-self-t{background-position: -145px -65px;}
.icon-compact-dashed-self-r{background-position: -129px -65px;}
.icon-compact-dashed-self-b{background-position: -145px -65px;}

.icon-compact-moving{background-position: 0px -81px;}
.icon-compact-full-screen{background-position: -17px -81px;}
.icon-compact-restore{background-position: -33px -81px;}
.icon-compact-make-alone{background-position: -49px -81px;}
.icon-compact-retweet{background-position: -66px -81px;}
.icon-compact-random{background-position: -81px -81px;}
.icon-compact-dashed-resize{background-position: -97px -81px;}
.icon-compact-solid-resize{background-position: -113px -81px;}

.icon-compact-folder{background-position: 0px -97px; }
.icon-compact-folder-open{background-position: -17px -97px;}
.icon-compact-txt{background-position: -33px -97px;}
.icon-compact-text{background-position: -50px -97px;}
.icon-compact-notepad{background-position: -65px -97px;}
.icon-compact-email{background-position: -81px -97px;}
.icon-compact-email-read{background-position: -97px -97px;}
.icon-compact-baggage{background-position: -113px -97px;}
.icon-compact-tips{background-position: -129px -97px;}
.icon-compact-man{background-position: -145px -97px;}
.icon-compact-printer{background-position: -161px -97px;}
.icon-compact-trash{background-position: -177px -97px;}
.icon-compact-lock{background-position: -194px -97px;}
.icon-compact-unlock{background-position: -209px -97px;}
.icon-compact-15-7{background-position: -225px -97px;}
.icon-compact-16-7{background-position: -241px -97px;}

.icon-compact-home{background-position: -1px -114px; }
.icon-compact-flag{background-position: -16px -114px;}
.icon-compact-3-8{background-position: -33px -114px;}
.icon-compact-shopping-cart{background-position: -48px -114px;}
.icon-compact-pencil{background-position: -65px -114px;}
.icon-compact-time{background-position: -81px -114px;}
.icon-compact-save{background-position: -97px -114px;}
.icon-compact-table{background-position: -113px -114px;}
.icon-compact-zoom-in{background-position: -129px -114px;}
.icon-compact-zoom-out{background-position: -145px -114px;}
.icon-compact-search{background-position: -161px -114px;}
.icon-compact-wrench{background-position: -177px -114px;}
.icon-compact-asterisk{background-position: -194px -114px;}
.icon-compact-heart{background-position: -209px -114px;}
.icon-compact-star{background-position: -225px -114px;}
.icon-compact-attchment{background-position: -241px -114px;}

.icon-compact-ban-circle{background-position: -1px -130px; }
.icon-compact-add{background-position: -17px -130px;}
.icon-compact-add-bold{background-position: -33px -130px;}
.icon-compact-minus{background-position: -49px -130px;}
.icon-compact-minus-bold{background-position: -65px -130px;}
.icon-compact-del{background-position: -81px -130px;}
.icon-compact-del-bold{background-position: -97px -130px;}
.icon-compact-key{background-position: -112px -130px;}
.icon-compact-bulb{background-position: -129px -130px;}
.icon-compact-shears{background-position: -145px -130px;}
.icon-compact-battery{background-position: -161px -130px;}
.icon-compact-battery-changing{background-position: -177px -130px;}
.icon-compact-info-card{background-position: -193px -130px;}
.icon-compact-picture{background-position: -209px -130px;}
.icon-compact-video{background-position: -225px -130px;}
.icon-compact-poster{background-position: -241px -130px;}

.icon-compact-warn-triangle{background-position: -1px -145px; }
.icon-compact-warn-circle{background-position: -17px -145px;}
.icon-compact-warn{background-position: -33px -146px;}
.icon-compact-ask{background-position: -49px -146px;}
.icon-compact-ok{background-position: -65px -146px;}
.icon-compact-point{background-position: -81px -146px;}
.icon-compact-point-bold-empty{background-position: -97px -146px;}
.icon-compact-point-empty{background-position: -112px -146px;}
.icon-compact-fixed{background-position: -129px -146px;}
.icon-compact-not-fixed{background-position: -145px -146px;}
.icon-compact-attr{background-position: -161px -145px;}
.icon-compact-event{background-position: -177px -145px;}
.icon-compact-method{background-position: -193px -146px;}
.icon-compact-attr-list{background-position: -209px -146px;}
.icon-compact-expand{background-position: -225px -145px;}
.icon-compact-unexpand{background-position: -241px -145px;}

.icon-compact-play{background-position: -1px -162px; }
.icon-compact-pause{background-position: -17px -162px;}
.icon-compact-fast-forward{background-position: -33px -162px;}
.icon-compact-fast-backward{background-position: -49px -162px;}
.icon-compact-step-forward{background-position: -65px -162px;}
.icon-compact-step-backward{background-position: -81px -162px;}
.icon-compact-stop{background-position: -97px -162px;}
.icon-compact-eject{background-position: -112px -162px;}
.icon-compact-volume-off{background-position: -129px -162px;}
.icon-compact-volume-down{background-position: -145px -162px;}
.icon-compact-help{width:18px;height:18px;background-position: -175px -159px;}
.icon-compact-tree-list{background-position: -193px -161px;}
.icon-compact-form{background-position: -209px -161px;}
.icon-compact-style{background-position: -225px -161px;}
.icon-compact-struct{background-position: -241px -161px;}

.icon-compact-play{background-position: -1px -162px; }
.icon-compact-pause{background-position: -17px -162px;}
.icon-compact-fast-forward{background-position: -33px -162px;}
.icon-compact-fast-backward{background-position: -49px -162px;}
.icon-compact-step-forward{background-position: -65px -162px;}
.icon-compact-step-backward{background-position: -81px -162px;}
.icon-compact-stop{background-position: -97px -162px;}
.icon-compact-eject{background-position: -112px -162px;}
.icon-compact-volume-off{background-position: -129px -162px;}
.icon-compact-volume-down{background-position: -145px -162px;}
.icon-compact-help{width:18px;height:18px;background-position: -175px -159px;}
.icon-compact-tree-list{background-position: -193px -161px;}
.icon-compact-form{background-position: -209px -161px;}
.icon-compact-style{background-position: -225px -161px;}
.icon-compact-struct{background-position: -241px -161px;}
.icon-compact-0{background-position: -500px -500px;}
.icon-compact-1{background-position: -226px -49px;}


[class^="icon-filetype-"],
[class*=" icon-filetype-"] {
  display: inline-block;
  width: 52px;
  height: 54px;
  line-height: 54px;
  vertical-align: text-top;
  background-image: url("../images/complex/filetype/filetypeicons.png");
  background-repeat: no-repeat;
}
.icon-filetype-ai{background-position: -15px -10px;}
.icon-filetype-aiff{background-position: -72px -10px;}
.icon-filetype-ani{background-position: -130px -10px;}
.icon-filetype-asf{background-position: -187px -10px;}
.icon-filetype-au{background-position: -245px -10px;}
.icon-filetype-avi{background-position: -302px -10px;}
.icon-filetype-bat{background-position: -359px -10px;}
.icon-filetype-bin{background-position: -416px -10px;}
.icon-filetype-bmp{background-position: -473px -10px;}
.icon-filetype-bup{background-position: -531px -10px;}
.icon-filetype-cab{background-position: -15px -64px;}
.icon-filetype-cal{background-position: -72px -64px;}
.icon-filetype-cat{background-position: -130px -64px;}
.icon-filetype-cur{background-position: -187px -64px;}
.icon-filetype-dat{background-position: -245px -64px;}
.icon-filetype-dcr{background-position: -302px -64px;}
.icon-filetype-der{background-position: -359px -64px;}
.icon-filetype-dic{background-position: -416px -64px;}
.icon-filetype-dll{background-position: -473px -64px;}
.icon-filetype-doc{background-position: -531px -64px;}
.icon-filetype-docx{background-position: -15px -117px;}
.icon-filetype-dvd{background-position: -72px -117px;}
.icon-filetype-dwg{background-position: -130px -117px;}
.icon-filetype-dwt{background-position: -187px -117px;}
.icon-filetype-fon{background-position: -245px -117px;}
.icon-filetype-gif{background-position: -302px -117px;}
.icon-filetype-hlp{background-position: -359px -117px;}
.icon-filetype-hst{background-position: -416px -117px;}
.icon-filetype-html{background-position: -473px -117px;}
.icon-filetype-ico{background-position: -531px -117px;}
.icon-filetype-ifo{background-position: -15px -171px;}
.icon-filetype-inf{background-position: -72px -171px;}
.icon-filetype-ini{background-position: -130px -171px;}
.icon-filetype-java{background-position: -187px -171px;}
.icon-filetype-jif{background-position: -245px -171px;}
.icon-filetype-jpg{background-position: -302px -171px;}
.icon-filetype-log{background-position: -359px -171px;}
.icon-filetype-m4a{background-position: -416px -171px;}
.icon-filetype-mmf{background-position: -473px -171px;}
.icon-filetype-mmm{background-position: -531px -171px;}
.icon-filetype-mov{background-position: -15px -225px;}
.icon-filetype-mp2{background-position: -72px -225px;}
.icon-filetype-mp2v{background-position: -130px -225px;}
.icon-filetype-mp3{background-position: -187px -225px;}
.icon-filetype-mp4{background-position: -245px -225px;}
.icon-filetype-mpeg{background-position: -302px -225px;}
.icon-filetype-msp{background-position: -359px -225px;}
.icon-filetype-pdf{background-position: -416px -225px;}
.icon-filetype-png{background-position: -473px -225px;}
.icon-filetype-ppt{background-position: -531px -225px;}
.icon-filetype-pptx{background-position: -15px -279px;}
.icon-filetype-psd{background-position: -72px -279px;}
.icon-filetype-ra{background-position: -130px -279px;}
.icon-filetype-rar{background-position: -187px -279px;}
.icon-filetype-reg{background-position: -245px -279px;}
.icon-filetype-rtf{background-position: -302px -279px;}
.icon-filetype-theme{background-position: -359px -279px;}
.icon-filetype-tiff{background-position: -416px -279px;}
.icon-filetype-tlb{background-position: -473px -279px;}
.icon-filetype-ttf{background-position: -531px -279px;}
.icon-filetype-txt{background-position: -15px -333px;}
.icon-filetype-vob{background-position: -72px -333px;}
.icon-filetype-wav{background-position: -130px -333px;}
.icon-filetype-wma{background-position: -187px -333px;}
.icon-filetype-wmv{background-position: -245px -333px;}
.icon-filetype-wpl{background-position: -302px -333px;}
.icon-filetype-wri{background-position: -359px -333px;}
.icon-filetype-xls{background-position: -416px -333px;}
.icon-filetype-xlsx{background-position: -473px -333px;}
.icon-filetype-xml{background-position: -531px -333px;}
.icon-filetype-xsl{background-position: -15px -387px;}
.icon-filetype-zip{background-position: -72px -387px;}
.icon-filetype-ac3{background-position: -130px -387px;}
.icon-filetype-default{background-position: -359px -117px;}

[class^="icon-filter-"],
[class*=" icon-filter-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../images/complex/filter/filter-icons-normal.png");
  background-repeat: no-repeat;
}
.icon-filter-clear{background-position: 0px 0px;}
.icon-filter-add{background-position: -16px 0px;}
.icon-filter-filter{background-position: -32px 0px;}
.icon-filter-ok{background-position: -48px 0px;}
.icon-filter-cancle{background-position: -64px 0px;}
.icon-filter-arrow-down{background-position: -80px 0px;}
.icon-filter-arrow-up{background-position: -96px 0px;}
.icon-filter-starts-with{background-position: -112px 0px;}
.icon-filter-not-starts-with{background-position: -128px 0px;}
.icon-filter-end-with{background-position: -144px 0px;}
.icon-filter-not-end-width{background-position: -160px 0px;}
.icon-filter-contain{background-position: -176px 0px;}
.icon-filter-not-contain{background-position: -192px 0px;}
.icon-filter-equal{background-position: -208px 0px;}
.icon-filter-not-equal{background-position: -224px 0px;}
.icon-filter-greater-equal{background-position: -240px 0px;}
.icon-filter-less-equal{background-position: -256px 0px;}
.icon-filter-greater{background-position: -272px 0px;}
.icon-filter-less{background-position: -288px 0px;}
.icon-filter-all{background-position: -304px 0px;}
.icon-filter-not-all{background-position: -320px 0px;}
.icon-filter-between-and{background-position: -336px 0px;}
.icon-filter-not-between-and{background-position: -352px 0px;}
.icon-filter-like{background-position: -368px 0px;}
.icon-filter-not-like{background-position: -384px 0px;}
.icon-filter-table{background-position: -400px 0px;}
.icon-filter-function{background-position: -416px 0px;}
.icon-filter-right{background-position: -432px 0px;}
.icon-filter-not-right{background-position: -448px 0px;}
.icon-filter-tree-list{background-position: -464px 0px;}
.icon-filter-signal-up{background-position: -480px 0px;}
.icon-filter-signal-down{background-position: -494px 0px;}

[class^="icon-navmenu-"],
[class*=" icon-navmenu-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("../images/complex/navmenu/navmenu-icon-normal.png");
  background-repeat: no-repeat;
}
LI:hover > [class^="icon-navmenu-"], LI:hover > [class*=" icon-navmenu-"]
{
  background-image: url("../images/complex/navmenu/navmenu-icon-hover.png");
}
.icon-navmenu-home{background-position: -36px -2px;}
.icon-navmenu-umg{background-position: -70px -2px;}
.icon-navmenu-oa{background-position: -104px -2px;}
.icon-navmenu-module{background-position: -138px -2px;}
.icon-navmenu-wh{background-position: -172px -2px;}
.icon-navmenu-yh{background-position: -206px -2px;}
.icon-navmenu-project{background-position: -240px -2px;}
.icon-navmenu-more{background-position: -274px -2px;}
.icon-navmenu-general{background-position: -308px -2px;}
.icon-navmenu-workflow{background-position: -342px -2px;}
.icon-navmenu-ticket{background-position: -376px -2px;}
.icon-navmenu-reporting{background-position: -410px -2px;}
.icon-navmenu-system{background-position: -444px -2px;}
.icon-navmenu-about-us{background-position: -478px -2px;}


/**loading 统一样式管理**/
.ajax_loading{background:url(../images/loading/loader-medium.gif) no-repeat 50% 50%;}
.tree_loading{background: url(../images/loading/wait.gif) no-repeat 0px 0px;}
.select_loading{background:url(../images/loading/loading.gif) no-repeat 0px 0px;}
.imageLoading{background-color: #222;background-image: url(../images/loading/loader-medium.gif);background-position: 50% 50%;background-repeat: no-repeat;}
.loading32{background: url(../images/loading/loading32.gif) no-repeat scroll transparent;background-position: 50% 50%;background-repeat: no-repeat;} 
.loading16{background: url(../images/loading/loading_16_1.gif) no-repeat scroll transparent; height:16px; width:16px; display:inline-block;}

