<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Net_Release" value="Server=127.0.0.1;DataBase=Project_vcms;User Id=sa;Password=Yangyxu!2014;"/>
    <add key="MySql_Release" value="Server=127.0.0.1;DataBase=yh1;User Id=root;Password=yangyxu;pooling=false;port=3306;"/>
    <add key="module_path" value="Module/"/>
    <!--<add key="MPro_Release" value="Server=211.95.73.120;DataBase=MPro_xd;User Id=sa;Password=kongnet588588;"/>-->
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
      <identity impersonate="true" password="Yangyxu!2014" userName="yangyxu2014@hotmail.com" />
      <authentication mode="Forms" />-->
    <!--文件上传配置 -->
    <httpRuntime executionTimeout="600" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <compilation maxBatchGeneratedFileSize="102400" maxBatchSize="102400">
      <assemblies>
        <add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>