<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
      <add key="MPro_Release" value="Server=127.0.0.1;DataBase=MPro_xd;User Id=sa;Password=Yangyxu!2014;" />
      <add key="module_path" value="Module/" />
	</appSettings>
	<connectionStrings />
	<system.web>
		<authentication mode="Windows" />
		<!--文件上传配置 -->
		<httpRuntime executionTimeout="600" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
		<pages />
		<compilation maxBatchGeneratedFileSize="102400" maxBatchSize="102400" /></system.web>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
