CREATE TABLE [dbo].[CRM_MERCHANT_W5T5] (
	[id] [bigint] IDENTITY (1, 1) NOT NULL ,
	[nodeName] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[merchantName] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[merchantType] [int] NULL ,
	[merchantArea] [decimal](18, 3) NULL ,
	[avgConsume] [decimal](18, 3) NULL ,
	[dollNum] [int] NULL ,
	[netType] [int] NULL ,
	[linkAgeType] [int] NULL ,
	[linkAge] [int] NULL ,
	[stars] [int] NULL ,
	[evaluate] [int] NULL ,
	[counties] [nvarchar] (300) COLLATE Chinese_PRC_CI_AS NULL ,
	[address] [nvarchar] (300) COLLATE Chinese_PRC_CI_AS NULL ,
	[market] [nvarchar] (300) COLLATE Chinese_PRC_CI_AS NULL ,
	[cooperation] [int] NULL ,
	[fuZeRen] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[fuZeRenLianXi] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[lianXiRen] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[zhiWu] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[lianXiRenLianXi] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ,
	[proType] [int] NULL ,
	[type] [int] NULL ,
	[email] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[qq] [varchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,
	[lev] [int] NULL ,
	[link] [varchar] (200) COLLATE Chinese_PRC_CI_AS NULL ,
	[note] [nvarchar] (200) COLLATE Chinese_PRC_CI_AS NULL ,
	[delFlag] [bit] NULL ,
	[cTime] [datetime] NULL ,
	[mTime] [datetime] NULL ,
	[cPerson] [bigint] NULL ,
	[mPerson] [bigint] NULL ,
	[oPerson] [bigint] NULL ,
	[roles] [varchar] (250) COLLATE Chinese_PRC_CI_AS NULL ,
	[users] [varchar] (250) COLLATE Chinese_PRC_CI_AS NULL ,
	[vTime] [datetime] NULL 
) ON [PRIMARY]
GO

